Package: xenta-mdm-themes-gdm
Version: 2017.12.24
Architecture: all
Maintainer: Dindin Hernawan (Xenta OS) <root@dev.xentaos.org>
Installed-Size: 9366
Conflicts: mint-mdm-themes-gdm
Replaces: mint-mdm-themes, mint-mdm-themes-gdm, mint-mdm-themes-kde
Section: x11
Priority: optional
Homepage: <insert the upstream URL, if relevant>
Description: Xenta OS MDM Themes
 Themes for the MDM display manager
