Source: xenta-mdm-themes-gdm
Section: x11
Priority: optional
Maintainer: Dindin Hernawan (Xenta OS) <dindin_hernawan@yahoo.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.7
Homepage: https://github.com/xentaoslinux/xenta-mdm-themes-gdm
Vcs-Browser: https://github.com/xentaoslinux/xenta-mdm-themes-gdm.git

Package: xenta-mdm-themes-gdm
Architecture: all
Conflicts: mint-mdm-themes-gdm
Replaces: mint-mdm-themes, mint-mdm-themes-kde, mint-mdm-themes-gdm
Description: Paket GDM MDM Display Manager Theme.
 Paket GDM MDM Display Manager Theme untuk Xenta OS.
